numpy==2.0.0
scipy==1.14.0
scikit-learn==1.5.1
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
opencv-python==4.10.0.84
pillow==10.4.0
matplotlib-inline==0.1.7
ipython==8.26.0
ipdb==0.13.13
jedi==0.19.1
requests==2.32.3
urllib3==2.2.2
pyyaml==6.0.1
tqdm==4.66.5
joblib==1.4.2
networkx==3.3
sympy==1.13.0
black==22.1.0
flake8==4.0.1
pre-commit==3.7.1
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
setuptools==71.0.4
wheel==0.43.0
pip==24.0
jinja2==3.1.4
markupsafe==2.1.5
pygments==2.18.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
typing-extensions==4.12.2
traitlets==5.14.3
prompt-toolkit==3.0.47
pexpect==4.9.0
wcwidth==0.2.13
parso==0.8.4

